{{include('head.html.twig')}}
{{include('navigation.html.twig',userInfo)}}



<div style="  max-width: 90%; margin: 0 auto; padding: 20px; background-color: #f8f9fa; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; margin-top: 15px;">
    <h2 style="color: #f0ad4e; text-align: center; font-size: 24px; margin-bottom: 30px;">O nás</h2>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Historie naší společnosti</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Jsme rodinná firma založená v roce 2010. Od té doby se specializujeme na výrobu a prodej tradičních českých knedlíků.</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Naše hodnoty</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Zákazníci jsou pro nás na prvním místě. Věříme v kvalitu, čestnost a spolehlivost ve všem, co děláme.</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Náš tým</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Naše společnost zaměstnává tým nadšených a zkušených profesionálů, kteří jsou oddaní poskytování nejlepších služeb našim zákazníkům.</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Kontaktujte nás</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Pokud máte jakékoli dotazy nebo zájmy ohledně naší společnosti, neváhejte nás <a href="mailto: info@knedliky.cz" style="color: #f0ad4e; text-decoration: none; font-weight: bold;">kontaktovat</a>. Jsme tu pro vás!</p>
    </div>
</div>











{{include('footer.html.twig')}}