{{ include('head.html.twig') }}
{{ include('navigation.html.twig', userInfo) }}
<div style="display: flex; justify-content: center; align-items: center; height: 85vh;">
    <div style="max-width: 600px; padding: 8px;">
        <div style="background-color: #ffffff; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
            <h1 style="color: #333333; text-align: center; padding: 20px 0; margin: 0;">Často kladené dotazy</h1>
            <div style="margin-top: 20px;">
                <div style="border-top: 1px solid #dddddd;">
                    <div style="padding: 15px; cursor: pointer;">
                        <h3 style="color: #f0ad4e; margin: 0;">Jak mohu provést objednávku?</h3>
                    </div>
                    <div style="padding: 0 15px; display: block;">
                        <p style="color: #555555; margin: 0;">Provedení objednávky je snadné. Stačí prohlédnout naši nabídku lahodných knedlíků, vybrat ty, které chcete objednat, a pokračovat do košíku.</p>
                    </div>
                </div>
                <div style="border-top: 1px solid #dddddd;">
                    <div style="padding: 15px; cursor: pointer;">
                        <h3 style="color: #f0ad4e; margin: 0;">Jsou vaše knedlíky vhodné pro vegetariány?</h3>
                    </div>
                    <div style="padding: 0 15px; display: block;">
                        <p style="color: #555555; margin: 0;">Ano, nabízíme širokou škálu vegetariánských knedlíků vyrobených z čerstvé zeleniny a koření. Hledejte vegetariánské možnosti v našem menu!</p>
                    </div>
                </div>
                <div style="border-top: 1px solid #dddddd;">
                    <div style="padding: 15px; cursor: pointer;">
                        <h3 style="color: #f0ad4e; margin: 0;">Máte v nabídce bezlepkové varianty?</h3>
                    </div>
                    <div style="padding: 0 15px; display: block;">
                        <p style="color: #555555; margin: 0;">Omlouváme se, v současné době nenabízíme bezlepkové knedlíky. Nicméně stále pracujeme na rozšiřování našeho menu, abychom vyhověli různým dietním potřebám.</p>
                    </div>
                </div>
                <div style="border-top: 1px solid #dddddd;">
                    <div style="padding: 15px; cursor: pointer;">
                        <h3 style="color: #f0ad4e; margin: 0;">Jak dlouho trvá doručení objednávek?</h3>
                    </div>
                    <div style="padding: 0 15px; display: block;">
                        <p style="color: #555555; margin: 0;">Časy doručení se mohou lišit v závislosti na vaší lokalitě a vybrané možnosti doručení při objednávání. Obvykle jsou objednávky doručeny do 2-5 pracovních dnů.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{ include('footer.html.twig') }}
