{{ include('head.html.twig') }}
{{ include('navigation.html.twig', userInfo) }}
<div style="max-width: 60%; margin: 0 auto; padding: 20px; background-color: #f8f9fa; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif;  margin-top: 15px;">
    <h2 style="color: #f0ad4e; text-align: center; font-size: 24px; margin-bottom: 30px;">Často kladené otázky</h2>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Jak provést objednávku?</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Provedení objednávky je snadné. Stačí prohlédnout naši nabídku lahodných knedlíků, vybrat ty, které chcete objednat, a pokračovat do košíku.</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Jsou vaše knedlíky vhodné pro vegetariány?</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Ano, nabízíme širokou škálu vegetariánských knedlíků vyrobených z čerstvé zeleniny a koření. Hledejte vegetariánské možnosti v našem menu!</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Máte v nabídce bezlepkové varianty?</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Omlouváme se, v současné době nabízíme pouze pár bezlepkových knedlíků. Nicméně stále pracujeme na rozšiřování našeho menu, abychom vyhověli různým dietním potřebám.</p>
    </div>

    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #343a40; font-size: 20px; margin-bottom: 10px;">Jak dlouho trvá doručení objednávek?</h3>
        <p style="color: #6c757d; font-size: 16px; line-height: 1.6; margin-bottom: 0;">Časy doručení se mohou lišit v závislosti na vaší lokalitě a vybrané možnosti doručení při objednávání. Obvykle jsou objednávky doručeny do 2-5 pracovních dnů.</p>
    </div>
</div>



{{ include('footer.html.twig') }}
